[Shoppigram team] New shop is waiting for a review.

Created by: @%s
Name: %s
Short name: %s
Logo: %s
Shop link: %s
	
