Your shop %s has been sent for verification.
This is necessary for the safety and convenience of users. Usually the process takes less than an hour.
If you feel like the process is taking too long, please contact us at @ShoppigramSupport.
