openapi: 3.0.1
info:
  description: "\n<dl>\n<dt>Словарь сокращений:</dt>\n<dd>КТ — карточка товара</dd>\n\
    <dd>НМ — номенклатура</dd>\n</dl>\nОграничения по количеству запросов:\n<dd>До\
    пускается максимум 100 запросов в минуту на методы контента в целом.</dd>\n\n\
    <br>\nПубличное API Контента создано для синхронизации данных между серверами\
    \ Wildberries и серверами продавцов.\n<br>\nВы загружаете данные на свои носит\
    ели, работаете с ними на своих мощностях и синхронизируетесь с нашими серверам\
    и по мере необходимости.\n<br>\n<code>Не допускается использование API Контент\
    а в качестве внешней базы данных. При превышении лимитов на запросы доступ к API\
    \ будет ограничен.</code>\n<br> \n<br>\n"
  title: Описание API Контента
  version: ""
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: Создание и редактирование КТ
  name: Загрузка
- description: "Получение информации о созданных КТ, НМ и размерах"
  name: Просмотр
- name: Конфигуратор
- description: Работа с медиафайлами
  name: Медиафайлы
- description: Сервис для работы с тегами КТ. Теги предназначены для быстрого поиска
    КТ в личном кабинете
  name: Теги
- name: Корзина
paths:
  /content/v2/cards/upload:
    post:
      description: |
        Создание карточки товара происходит асинхронно, при отправке запроса на создание карточки ваш запрос становится в очередь на создание.


        **Внимание**. Карточка считается созданной, если создалась хотя бы одна номенклатура в ней. Если во время обработки запроса в очереди выявляются ошибки, то номенклатура считается ошибочной.


        Как создать карточку:

          1. Получите список всех категорий с помощью метода `Родительские категории товаров`
          2. Получите список доступных предметов (подкатегорий) с помощью метода `Список предметов (подкатегорий)`
          3. Получите характеристики, которые можно задавать в этом предмете (подкатегории), с помощью метода `Характеристики предмета (подкатегории)`. Для характеристик Цвет, Страна производства, Сезон, Ставка НДС, ТНВЭД используйте значения из раздела `Конфигуратор`.
          4. Отправьте запрос. Если ответ Успешно (200), но какие-то карточки не создались, проверьте ошибки с помощью метода `Список несозданных номенклатур (НМ) с ошибками`.


        В одном запросе можно создать максимум 100 карточек (`imtID`) и по 30 номенклатур (`nmID`) в каждой. Максимальный размер запроса 10 Мб.

        Габариты товаров можно указать только в **сантиметрах**.
      requestBody:
        content:
          application/json:
            examples:
              creatingOneCard:
                $ref: '#/components/examples/creatingOneCard'
              creatingMergedCards:
                $ref: '#/components/examples/creatingMergedCards'
              creatingGroupOfIndividualCards:
                $ref: '#/components/examples/creatingGroupOfIndividualCards'
            schema:
              items:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_request_inner'
              type: array
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Успех
        "400":
          content:
            application/json:
              examples:
                InvalidRequestFormatContent:
                  $ref: '#/components/examples/InvalidRequestFormatContent'
                CardCreatedWithoutVendorCode:
                  $ref: '#/components/examples/CardCreatedWithoutVendorCode'
                CardsVendorCodeUsedInOtherCards:
                  $ref: '#/components/examples/CardsVendorCodeUsedInOtherCards'
                ThisCategoryDoesNotExist:
                  $ref: '#/components/examples/ThisCategoryDoesNotExist'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: ""
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "413":
          content:
            application/json:
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_413_response'
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      summary: Создание карточки товара
      tags:
      - Загрузка
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/cards/update:
    post:
      description: |
        Обновляет карточку товара. Данные для обновления можно получить с помощью метода [Список номенклатур (НМ)](./#tag/Prosmotr/paths/~1content~1v2~1get~1cards~1list/post)

        Нельзя редактировать или удалить баркоды, но можно добавить баркод к существующему. Параметры `photos`, `video` и `tags` передавать не обязательно, их нельзя редактировать или удалять в этом методе.

        Если ответ Успешно (200), но какие-то карточки не изменились, проверьте ошибки с помощью метода `Список несозданных номенклатур (НМ) с ошибками`.

        В одном запросе можно отредактировать максимум 3000 номенклатур (`nmID`). Максимальный размер запроса 10 Мб.

        Габариты товаров можно указать только в **сантиметрах**.
      requestBody:
        content:
          application/json:
            schema:
              example:
              - nmID: 11111111
                vendorCode: wbiz72wmro
                brand: ""
                title: Свитер женский оверсайз с горлом
                description: "12345"
                dimensions:
                  length: 0
                  width: 0
                  height: 0
                characteristics:
                - id: 14177450
                  value:
                  - хлопок 50% акрил 50%
                - id: 50
                  value:
                  - свободный крой
                sizes:
                - chrtID: 12345678
                  techSize: ONE SIZE
                  wbSize: 78-90
                  skus:
                  - "123487653460134"
              items:
                $ref: '#/components/schemas/_content_v2_cards_update_post_request_inner'
              type: array
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Карточка обновлена
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "413":
          content:
            application/json:
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_413_response'
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      summary: Редактирование КТ
      tags:
      - Загрузка
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/cards/upload/add:
    post:
      description: "Метод позволяет добавить к карточке товара новую номенклатуру\
        . <br> \nДобавление НМ к КТ происходит асинхронно, после отправки запрос с\
        тановится в очередь на обработку.<br> \n`Важно!` Если после успешной отпра\
        вки запроса номенклатура не создалась, то необходимо проверить раздел \"Сп\
        исок несозданных НМ с ошибками\". <br> \nДля того чтобы убрать НМ из ошибо\
        чных, необходимо повторно сделать запрос с исправленными ошибками.<br>\nМа\
        ксимальный размер запроса 10 Мб.\n\nГабариты товаров можно указать только\
        \ в **сантиметрах**.\n"
      requestBody:
        content:
          application/json:
            example:
              imtID: 987654321
              cardsToAdd:
              - vendorCode: myVariant1
                title: Наименование товара
                description: Описание товара
                brand: Бренд
                dimensions:
                  length: 55
                  width: 40
                  height: 15
                characteristics:
                - id: 12
                  value:
                  - Russian flag
                - id: 25471
                  value: 1300
                - id: 14177449
                  value:
                  - blue
                sizes:
                - skus:
                  - "12345678"
              - vendorCode: myVariant2
                title: Наименование товара
                description: Описание товаров
                brand: Бренд
                dimensions:
                  length: 55
                  width: 40
                  height: 15
                characteristics:
                - id: 12
                  value:
                  - Russian flag
                - id: 25471
                  value: 1300
                - id: 14177449
                  value:
                  - blue
                sizes:
                - skus:
                  - "222222222222"
            schema:
              $ref: '#/components/schemas/_content_v2_cards_upload_add_post_request'
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Успех
        "400":
          content:
            application/json:
              examples:
                InvalidRequestFormatContent:
                  $ref: '#/components/examples/InvalidRequestFormatContent'
                CardCreatedWithoutVendorCode:
                  $ref: '#/components/examples/CardCreatedWithoutVendorCode'
                CardsVendorCodeUsedInOtherCards:
                  $ref: '#/components/examples/CardsVendorCodeUsedInOtherCards'
                ThisCategoryDoesNotExist:
                  $ref: '#/components/examples/ThisCategoryDoesNotExist'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: ""
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "413":
          content:
            application/json:
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_413_response'
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      summary: Добавление НМ к КТ
      tags:
      - Загрузка
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/cards/moveNm:
    post:
      description: "Метод позволяет объединять номенклатуры (`nmID`) под одним `imtID`\
        \ и разъединять их.<br>\n\nДля объединения НМ необходимо отправить запрос\
        \ со списком НМ с заполненным параметром `targetIMT` в теле запроса. \nПри\
        \ этом все НМ объединятся под `imtID` указанном в `targetIMT`. <br>\n<br>\n\
        Чтобы отсоединить НМ от карточки, необходимо передать эту НМ без параметра\
        \ `targetIMT` в теле запроса.<br>\nПри этом для передаваемой НМ создается\
        \ новый `imtID`. <br>\nЕсли в запросе на <b>разъединение</b> передается не\
        сколько НМ, то все они автоматически <b>объединятся</b> под <b>одним</b> н\
        овым `imtID`. <br>\nЧтобы присвоить каждой НМ уникальный `imtID` необходим\
        о передавать по одной НМ за запрос.\nДля НМ, не участвующих в запросе, ник\
        аких изменений не происходит.<br>\nМаксимальный размер запроса 10 Мб.<br>\n\
        <br>\n`ВАЖНО:` Объединить можно только номенклатуры с одинаковыми предмета\
        ми.<br>\n`ВАЖНО:` В одной КТ (под одним `imtID`) не может быть больше 30 н\
        оменклатур (`nmID`).\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_cards_moveNm_post_request'
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Успех
        "400":
          content:
            application/json:
              examples:
                responseExceededLimit:
                  $ref: '#/components/examples/responseExceededLimit'
                responseCombining:
                  $ref: '#/components/examples/responseCombining'
                responseIncorrectRequestFormat:
                  $ref: '#/components/examples/responseIncorrectRequestFormat'
                responseNonExistentNmId:
                  $ref: '#/components/examples/responseNonExistentNmId'
                responseNonExistentImt:
                  $ref: '#/components/examples/responseNonExistentImt'
                responseCardCreate1:
                  $ref: '#/components/examples/responseCardCreate1'
                responseDuplicateRequests:
                  $ref: '#/components/examples/responseDuplicateRequests'
                responseAllCardsInSameGroup:
                  $ref: '#/components/examples/responseAllCardsInSameGroup'
                responseIncorrectBeginDate:
                  $ref: '#/components/examples/responseIncorrectBeginDate'
                responseIncorrectEndDate:
                  $ref: '#/components/examples/responseIncorrectEndDate'
              schema:
                $ref: '#/components/schemas/_content_v2_cards_moveNm_post_400_response'
          description: Некорректный формат запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Доступ запрещен
        "413":
          content:
            application/json:
              examples:
                BodySizeExceedsTheGivenLimit:
                  $ref: '#/components/examples/BodySizeExceedsTheGivenLimit'
              schema:
                type: string
          description: Превышен лимит объёма данных в запросе
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Внутренняя ошибка сервера
      summary: Объединение / Разъединение НМ
      tags:
      - Загрузка
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/barcodes:
    post:
      description: Метод позволяет сгенерировать массив уникальных баркодов для создания
        размера НМ в КТ.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_barcodes_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_barcodes_post_200_response'
          description: ""
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Генерация баркодов
      tags:
      - Загрузка
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/get/cards/list:
    post:
      description: "Метод позволяет получить список созданных НМ с фильтрацией по\
        \ разным параметрам, пагинацией и сортировкой.  <br> <br> **Метод доступен\
        \ по токену с опцией `Продвижение`**  <br>  <br>  *Важно*. Карточки, наход\
        ящиеся в корзине, в ответе метода не выдаются. <br> Получить такие карточк\
        и можно только методом \"Список НМ, находящихся в корзине\".<br> <br> Поря\
        док работы с `get/cards/list`: <br> Чтобы получить полный список номенклат\
        ур, <b>если их больше 100</b>, необходимо воспользоваться пагинацией.\n  <ol>\n\
        \    <li>Сделать первый запрос (все указанные ниже параметры обязательны):\
        \ <br>\n      <pre style=\"background-color: rgb(38 50 56 / 5%); color: #e53935\"\
        >\n        {\n          \"settings\": {                      \n          \
        \  \"cursor\": {\n              \"limit\": 100\n            },\n         \
        \   \"filter\": {\n              \"withPhoto\": -1\n            }\n      \
        \    }\n        }</pre>                               \n    </li>\n    <li>П\
        ройти в конец полученного списка номенклатур, скопировать из <code>cursor</code>\
        \ две строки:\n      <ul>\n        <li><code>\"updatedAt\": \"***\"</code>,</li>\n\
        \        <li><code>\"nmID\": ***</code>,</li>\n      </ul>\n    <li>Встави\
        ть скопированные строки в <code>cursor</code> запроса, повторить вызов мет\
        ода. </li>\n    <li>Повторять пункты <b>2</b> и <b>3</b>, пока <code>total</code>\
        \ в ответе не станет меньше чем <code>limit</code> в запросе.\n      <br>Э\
        то будет означать, что Вы получили все карточки.\n  </ol>\n  <br> По желан\
        ию можно добавить поиск и сортировку. См описание в <b>Request Body schema</b>\n\
        \  <br> В <b>Request samples</b> представлен пример запроса со всеми возмо\
        жными параметрами.\n"
      parameters:
      - description: |
          Язык для перевода полей ответа `name`, `value` и `object`:  `ru` - русский, `en` - английский, `zh` - китайский.

          Не используется в песочнице.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: ru
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: ""
                  allowedCategoriesOnly: true
                  tagIDs: []
                  objectIDs: []
                  brands: []
                  imtID: 0
                  withPhoto: -1
                cursor:
                  updatedAt: ""
                  nmID: 0
                  limit: 11
            schema:
              $ref: '#/components/schemas/_content_v2_get_cards_list_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cards:
                - nmID: 12345678
                  imtID: 123654789
                  nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                  subjectID: 7771
                  subjectName: AKF системы
                  vendorCode: wb7f6mumjr1
                  brand: ""
                  title: ""
                  description: ""
                  photos:
                  - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                    c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                    c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                    square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                    tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                  video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                  dimensions:
                    length: 0
                    width: 0
                    height: 0
                    isValid: false
                  characteristics:
                  - id: 14177449
                    name: Цвет
                    value:
                    - красно-сиреневый
                  sizes:
                  - chrtID: 316399238
                    techSize: "0"
                    skus:
                    - "987456321654"
                  tags:
                  - id: 592569
                    name: Популярный
                    color: D1CFD7
                  createdAt: 2023-12-06T11:17:00.96577Z
                  updatedAt: 2023-12-06T11:17:00.96577Z
                cursor:
                  updatedAt: 2023-12-06T11:17:00.96577Z
                  nmID: 123654123
                  total: 1
              schema:
                $ref: '#/components/schemas/_content_v2_get_cards_list_post_200_response'
          description: Ответ
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса.
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен.
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список номенклатур (НМ)
      tags:
      - Просмотр
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/cards/error/list:
    get:
      description: |
        Метод позволяет получить список НМ и список ошибок которые произошли во время создания КТ. <br>`ВАЖНО`: Для того чтобы убрать НМ из ошибочных, надо повторно сделать запрос с исправленными ошибками на создание КТ.
      parameters:
      - description: |2

          Параметр выбора языка значений полей ответа (для которых предусмотрена мультиязычность).

          Не используется в песочнице.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_cards_error_list_get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса.
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен.
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список несозданных номенклатур (НМ) с ошибками
      tags:
      - Просмотр
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/cards/limits:
    get:
      description: |
        Метод позволяет получить отдельно бесплатные и платные лимиты продавца на создание карточек товаров. <br> Формула для получения количества карточек, которые можно создать: (`freeLimits` + `paidLimits`) - Количество созданных карточек.<br> Созданными считаются все карточки, которые можно получить методами "Список НМ" и "Список НМ, находящихся в корзине".
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  freeLimits: 1500
                  paidLimits: 10
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_cards_limits_get_200_response'
          description: ""
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Лимиты по КТ
      tags:
      - Просмотр
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/object/parent/all:
    get:
      description: С помощью данного метода можно получить список всех родительских
        категорий товаров.
      parameters:
      - description: "Параметр выбора языка (ru, en, zh) значений поля name. Не\_и\
          спользуется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Родительские категории товаров
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/object/all:
    get:
      description: "С помощью данного метода можно получить список всех доступных\
        \ предметов, родительских категорий предметов, и их идентификаторов."
      parameters:
      - description: "Поиск по наименованию предмета (Носки), поиск работает по по\
          дстроке, искать можно на любом из поддерживаемых языков."
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Носки
          type: string
        style: form
      - description: "Количество подкатегорий (предметов), максимум 1\_000"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 1000
          type: integer
        style: form
      - description: "Язык полей ответа (ru, en, zh). Не\_используется в\_песочниц\
          е"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      - description: "Номер позиции, с которой необходимо получить ответ"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 5000
          type: integer
        style: form
      - description: Идентификатор родительской категории предмета
        explode: true
        in: query
        name: parentID
        required: false
        schema:
          example: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - subjectID: 2560
                  parentID: 479
                  subjectName: 3D очки
                  parentName: Электроника
                - subjectID: 1152
                  parentID: 858
                  subjectName: 3D-принтеры
                  parentName: Оргтехника
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_object_all_get_200_response'
          description: ""
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список предметов (подкатегорий)
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/object/charcs/{subjectId}:
    get:
      description: Получение списка характеристик предмета по его ID.
      parameters:
      - description: Идентификатор предмета
        explode: false
        in: path
        name: subjectId
        required: true
        schema:
          example: 105
          type: integer
        style: simple
      - description: "Параметр выбора языка (ru, en, zh) значений полей `subjectName`,\
          \ `name`. Не\_используется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_object_charcs__subjectId__get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Характеристики предмета (подкатегории)
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/directory/colors:
    get:
      description: Получение значения характеристики цвет.
      parameters:
      - description: "Параметр выбора языка (ru, en, zh) значений полей `subjectName`,\
          \ `name`. Не\_используется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_colors_get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Цвет
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/directory/kinds:
    get:
      description: Получение значения характеристики пол.
      parameters:
      - description: "Параметр выбора языка (ru, en, zh) значений полей `subjectName`,\
          \ `name`. Не\_используется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_kinds_get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Пол
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/directory/countries:
    get:
      description: Получение значения характеристики Страна Производства.
      parameters:
      - description: "Параметр выбора языка (ru, en, zh) значений полей `subjectName`,\
          \ `name`. Не\_используется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_countries_get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Страна Производства
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/directory/seasons:
    get:
      description: Получение значения характеристики Сезон.
      parameters:
      - description: "Параметр выбора языка (ru, en, zh) значений полей `subjectName`,\
          \ `name`. Не\_используется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_seasons_get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Сезон
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/directory/tnved:
    get:
      description: С помощью данного метода можно получить список ТНВЭД кодов по ID
        предмета и фильтру по ТНВЭД коду.
      parameters:
      - description: Идентификатор предмета
        explode: true
        in: query
        name: subjectID
        required: true
        schema:
          example: 105
          type: integer
        style: form
      - description: Поиск по ТНВЭД-коду. Работает только в паре с subjectID
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: 6106903000
          type: integer
        style: form
      - description: "Язык (`ru`, `en`, `zh`) для значений полей `subjectName`, `name`.\
          \ Не\_используется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - tnved: "6106903000"
                  isKiz: true
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_directory_tnved_get_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: ТНВЭД код
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/directory/vat:
    get:
      description: С помощью данного метода можно получить список значений для характеристики
        **Ставка НДС**.
      parameters:
      - description: "Язык значения элементов `data` (`ru`, `en`, `zh`). Не\_испол\
          ьзуется в\_песочнице"
        explode: true
        in: query
        name: locale
        required: true
        schema:
          example: ru
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - "0"
                - "10"
                - "20"
                - Без НДС
                - "13"
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_directory_vat_get_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Ставка НДС
      tags:
      - Конфигуратор
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v3/media/save:
    post:
      description: "Изменяет набор медиафайлов для товара (номенклатуры).\n\n**Вни\
        мание**. Новые медиафайлы (`data`) полностью заменяют старые (`mediaFiles`).\
        \ Чтобы добавить новые медиафайлы, укажите ссылки не\_только на\_них, но и\
        \ на\_старые файлы. \n\n\nТребования к изображениям:\n\n\n  * максимум изо\
        бражений для одного товара (номенклатуры)\_— 30;\n  * минимальное разрешен\
        ие – 700\_×\_900 пикселей;\n  * максимальный размер\_— 32\_Мб;\n  * минима\
        льное качество\_— 65%;\n  * форматы\_— JPG, PNG, BMP, GIF (статичные), WebP.\n\
        \n\nТребования к видео:\n\n\n  * максимум 1\_видео для одного товара (номе\
        нклатуры).\n  * максимальный размер\_— 50\_Мб;\n  * форматы\_— MOV, MP4.\n\
        \n\nЕсли хотя бы одно изображение в запросе не соответствует требованиям,\
        \ то даже при успешном ответе (200) ни\_одно изображение не загрузится\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v3_media_save_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data: {}
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v3_media_save_post_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Некорректный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Доступ запрещён
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Ошибка сохранения для части ссылок
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Отсутствие в запросе параметра nmId
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Внутренняя ошибка сервиса
      security:
      - HeaderApiKey: []
      summary: Изменить медиафайлы
      tags:
      - Медиафайлы
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v3/media/file:
    post:
      description: |
        Добавляет один медиафайл для товара (номенклатуры).

        Требования к изображениям:

          * максимум изображений для одного товара (номенклатуры) — 30;
          * минимальное разрешение – 700 × 900 пикселей;
          * максимальный размер — 32 Мб;
          * минимальное качество — 65%;
          * форматы — JPG, PNG, BMP, GIF (статичные), WebP.

        Требования к видео:

          * максимум 1 видео для одного товара (номенклатуры);
          * максимальный размер — 50 Мб;
          * форматы — MOV, MP4.
      parameters:
      - description: Артикул Wildberries
        explode: false
        in: header
        name: X-Nm-Id
        required: true
        schema:
          example: "213864079"
          type: string
        style: simple
      - description: |
          Номер медиафайла на загрузку, начинается с `1`. При загрузке видео всегда указывайте `1`.

          Чтобы добавить изображение к уже загруженным, номер медиафайла должен быть больше количества уже загруженных медиафайлов.
        explode: false
        in: header
        name: X-Photo-Number
        required: true
        schema:
          example: 2
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_content_v3_media_file_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data: {}
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v3_media_save_post_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Некорректный запрос
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Доступ запрещён
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mediaErrors'
          description: Внутренняя ошибка сервиса
      security:
      - HeaderApiKey: []
      summary: Добавить медиафайлы
      tags:
      - Медиафайлы
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/tags:
    get:
      description: Метод позволяет получить список существующих тегов продавца.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  color: D1CFD7
                  name: Sale
                error: false
                errorText: ""
                additionalErrors: ""
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_200_response'
          description: ""
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список тегов
      tags:
      - Теги
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/tag:
    post:
      description: |
        Метод позволяет создать тег.<br> Завести можно 15 тегов.<br> Максимальная длина тега 15 символов.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_tag_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
              schema:
                $ref: '#/components/schemas/responseContentError6'
          description: ""
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
                responseBodyLimitTag:
                  $ref: '#/components/examples/responseBodyLimitTag'
                responseBodyNameNotExist:
                  $ref: '#/components/examples/responseBodyNameNotExist'
              schema:
                $ref: '#/components/schemas/_content_v2_tag_post_400_response'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создание тега
      tags:
      - Теги
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/tag/{id}:
    delete:
      description: Метод позволяет удалить тег   
      parameters:
      - description: Числовой идентификатор тега
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
                responseNotFound200Del:
                  $ref: '#/components/examples/responseNotFound200Del'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__delete_200_response'
          description: ""
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBodyTagNotExist:
                  $ref: '#/components/examples/responseBodyTagNotExist'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__delete_400_response'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удаление тега
      tags:
      - Теги
    patch:
      description: Метод позволяет изменять информацию о теге (имя и цвет).
      parameters:
      - description: Числовой идентификатор тега
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_tag__id__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
                responseNotFound200:
                  $ref: '#/components/examples/responseNotFound200'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__patch_200_response'
          description: ""
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
              schema:
                $ref: '#/components/schemas/_content_v2_tag__id__patch_400_response'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение тега
      tags:
      - Теги
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/tag/nomenclature/link:
    post:
      description: |
        Метод позволяет добавить теги к КТ и снять их с КТ.<br> При снятии тега с КТ сам тег не удаляется.<br> К карточке можно добавить 15 тегов.
      requestBody:
        content:
          application/json:
            example:
              nmID: 179891389
              tagsIDs:
              - 123456
            schema:
              $ref: '#/components/schemas/_content_v2_tag_nomenclature_link_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                responseOK200:
                  $ref: '#/components/examples/responseOK200'
              schema:
                $ref: '#/components/schemas/responseContentError6'
          description: ""
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest4:
                  $ref: '#/components/examples/IncorrectRequest4'
              schema:
                $ref: '#/components/schemas/responseContentError4'
          description: ""
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
        "500":
          content:
            application/json:
              examples:
                responseBodyError500:
                  $ref: '#/components/examples/responseBodyError500'
              schema:
                $ref: '#/components/schemas/responseContentError6'
          description: ""
      security:
      - HeaderApiKey: []
      summary: Управление тегами в КТ
      tags:
      - Теги
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/cards/delete/trash:
    post:
      description: |
        Метод позволяет перенести НМ в корзину. Перенос карточки в корзину не является удалением карточки.<br> <code>ВАЖНО</code>: При переносе НМ в корзину, данная НМ выходит из КТ, то есть ей присваивается новый <code>imtID</code>.<br> Карточка товара удаляется автоматически, если лежит в корзине больше 30 дней.<br> Корзина зачищается от карточек, лежащих в ней более 30 дней, каждую ночь по Московскому времени.
      requestBody:
        content:
          application/json:
            example:
              nmIDs:
              - 987654321
              - 123456789
            schema:
              items:
                $ref: '#/components/schemas/_content_v2_cards_delete_trash_post_request_inner'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/_content_v2_cards_delete_trash_post_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Перенос НМ в корзину
      tags:
      - Корзина
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/cards/recover:
    post:
      description: |
        Метод позволяет восстановить НМ из корзины.<br> <code>ВАЖНО</code>: При восстановлении НМ из корзины она не возвращается в КТ в которой была до переноса в корзину, то есть <code>imtID</code> остается тот же, что и был у НМ в корзине.
      requestBody:
        content:
          application/json:
            example:
              nmIDs:
              - 123456789
              - 987654321
            schema:
              items:
                $ref: '#/components/schemas/_content_v2_cards_recover_post_request_inner'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/_content_v2_cards_delete_trash_post_200_response'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Восстановление НМ из корзины
      tags:
      - Корзина
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
  /content/v2/get/cards/trash:
    post:
      description: "Метод позволяет получить список НМ, находящихся в корзине.  <br>\
        \ <br> **Метод доступен по токену с опцией `Продвижение`**   <br>  <br>  <br>П\
        орядок работы. <br> Чтобы получить полный список номенклатур, <b>если их б\
        ольше 100</b>, необходимо воспользоваться пагинацией.\n  <ol>\n    <li>Сде\
        лать первый запрос (все указанные ниже параметры обязательны): <br>\n    \
        \  <pre style=\"background-color: rgb(38 50 56 / 5%); color: #e53935\">\n\
        \        {\n          \"settings\": {                      \n            \"\
        cursor\": {\n              \"limit\": 100\n            }\n          }\n  \
        \      }</pre>                               \n    </li>\n    <li>Пройти в\
        \ конец полученного списка номенклатур, скопировать из <code>cursor</code>\
        \ две строки:\n      <ul>\n        <li><code>\"trashedAt\": \"***\"</code>,</li>\n\
        \        <li><code>\"nmID\": ***</code>,</li>\n      </ul>\n    <li>Встави\
        ть скопированные строки в <code>cursor</code> запроса, повторить вызов мет\
        ода. </li>\n    <li>Повторять пункты <b>2</b> и <b>3</b>, пока <code>total</code>\
        \ в ответе не станет меньше чем <code>limit</code> в запросе.\n      <br>Э\
        то будет означать, что Вы получили все карточки.\n  </ol>\n  <br> По желан\
        ию можно добавить поиск и сортировку. См описание в <b>Request Body schema</b>\n\
        \  <br> В <b>Request samples</b> представлен пример запроса со всеми возмо\
        жными параметрами.\n"
      parameters:
      - description: |
          Язык полей ответа `name`, `value` и `object`: `ru`, `en`, `zh`.

          Не используется в песочнице
        explode: true
        in: query
        name: locale
        required: false
        schema:
          enum:
          - ru
          - en
          - zh
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: ""
                cursor:
                  limit: 11
            schema:
              $ref: '#/components/schemas/_content_v2_get_cards_trash_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cards:
                - nmID: 1234567
                  vendorCode: wb5xsy5ftj
                  subjectID: 1436
                  subjectName: Ведра хозяйственные
                  photos:
                  - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                    c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                    c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                    square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                    tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                  video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                  sizes:
                  - chrtID: 111111111
                    techSize: "0"
                    skus:
                    - xxxxxxxxxxxx
                  dimensions:
                    length: 0
                    width: 0
                    height: 0
                    isValid: false
                  createdAt: 2023-12-05T14:55:09.323462Z
                  trashedAt: 2023-12-06T10:57:42.193028Z
                cursor:
                  trashedAt: 2023-12-06T10:57:42.193028Z
                  nmID: 194128521
                  total: 1
              schema:
                $ref: '#/components/schemas/_content_v2_get_cards_trash_post_200_response'
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Неверная форма запроса
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Пользователь не авторизован
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Доступ запрещен
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_cards_upload_post_401_response'
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: "Список НМ, находящихся в корзине"
      tags:
      - Корзина
    servers:
    - url: https://content-api.wildberries.ru
    - description: '**Deprecated URL**'
      url: https://suppliers-api.wildberries.ru
components:
  examples:
    creatingOneCard:
      description: ""
      value:
      - subjectID: 105
        variants:
        - vendorCode: АртикулПродавца
          title: Наименование товара
          description: Описание товара
          brand: Бренд
          dimensions:
            length: 55
            width: 40
            height: 15
          characteristics:
          - id: 12
            value:
            - Turkish flag
          - id: 25471
            value: 1200
          - id: 14177449
            value:
            - red
          sizes:
          - techSize: S
            wbSize: "42"
            price: 5000
            skus:
            - "88005553535"
    creatingMergedCards:
      description: ""
      value:
[...]
